body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.index {
  text-align: center;
  background: #FFFFFF;
  margin: 7% 13%;
  min-height: 100vh;
  padding-top: 48px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
}

.footer .github {
  width: 10%;
  height: 10%;
  margin-right: 25%;
}

.footer .cathub {
  width: 5%;
  height: 5%;
}